{
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 80,
  "singleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "^next",
    "^@tanstack",
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
